.footer {
    background-color: #262b2e;
    padding: 90px 0 150px;
}

.footer__title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    font-family: $Rale;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.footer__row {
    display: flex;
    justify-content: center;
}

.footer__row-item {
    margin-right: 7px;
    width: 46px;
    height: 41px;
    background-color: #424648;   
    cursor: pointer;
    transition: .2s;
}

.footer__row-item a img {
    z-index: 2;
}

.footer__row-item:hover {   
    background-color: $blue;
}

.footer__row-item:last-child {
    margin-right: 0px;
}