.message {    
    background: url("../img/message-bg.png") no-repeat center / cover;
    padding: 120px 0;
}

.message__grid {
    display: flex;
    flex-wrap: wrap;
    margin: -13px;
}

.message__cell {
    padding: 13px;
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
}

.message__cell--form {
    width: 60%;
}

.message__cell--info {
    width: 40%;
}

.message__box {
    background-color: rgba(2, 22, 35, .71);
    padding: 33px;
    width: 100%;
}

.message__form-row {
    margin-bottom: 15px;
}

.message__input {
    display: block;
    width: 100%;
    color: #b1babf;
    font-size: 15px;
    line-height: 51px;
    font-family: $Rale;
    background: transparent;
    border-bottom: 1px solid #b1babf;
    transition: .2s;
}

.message__input--textarea {
    resize: none;
}

.message__input::placeholder {
    color: #fff;
    opacity: .6;
    font-size: 15px;
    font-family: $Rale;
    font-weight: 300;
}

.message__input:focus {
    border-bottom: 1px solid #fff;
}

.message__form-actions {
    margin: 38px 0px 0 0px;
}

.message__form-button {
    background-color: #6eeee4;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #214744;
    font-family: $Mons;
    background-color: #6eeee4;   
    padding: 20px 36px;
    // max-width: 245px;
    transition: .2s;
}

.message__form-button:hover {
    background: #fff;
    color: #214744;
    transition: .2s;
}

.message__form-button:active {
    background: #214744;
    color: #fff;
}

.message__row-map-attr {
    font-size: 15px;
    line-height: 24px;
    color: #c5cbcf;
    font-family: $Rale;
    
    margin-bottom: 10px;
}

.message__row-map-attr:nth-child(5) {
    margin-top: 33px;
}

.textarea {
    padding-top: 30px;
    max-height: 300%;
}

@media (max-width: 1023px) {
    .message__grid {
        margin: -10px;
    }

    .message__cell {
        padding: 10px;
    }

    .message__box {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .message__cell {
        width: 100%;
    }
}