.works {
	background-color: #ffffff;
	padding: 130px 0 122px 0;
}

@media (max-width: 767px) {
	.works {       
		padding: 33px 0 59px 0;
    }
}

.works__images-row {
	display: flex;
	flex-wrap: wrap;
}

.works__images-row-item {
	margin: 2px;
}

.works__images-row-item img {
	max-width: 100%;
}